@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
}

body {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}