@import "tailwindcss";

@theme {
  --color-1st: #284B63;
  --color-2nd: #315771;
  --color-3rd: #242c64;
  --color-4th: #4f738d;
  --color-5th: #a4b4c4;
  --color-lefter: #dfdede;
}

body {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}